body {
    margin: 0;
    background-color: Gainsboro;
}

.logo {
    margin: -70px -30px;
    position: absolute;
    font-size: 1500%;
    color: grey;
    z-index: -1;
}

header{
    margin: 0 10%;
    min-width: 880px;
    background-color: LightSteelBlue;
}

.menu {
    margin: 0;
    display:flex;
    list-style:none;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu_item {
    min-width: 150px;
    margin: -1px 1px;
    padding: 10px;

    text-align: center;
    font-size: 150%;
}

.menu_item:hover {
    background-color: Lavender;
}

.profile {
    display: flex;
    margin-left: auto;
}


.menu_profile:hover {
    background-color: Lavender;
}

main {
    margin: 30px 15%;
}

.clear_a{
    text-decoration: none;
    color: inherit;
}

.news_box {
display: flex;
margin: 30px;
height: 225px;
background-color: LightSteelBlue;

}

.img_box{
height: 100%;
width: 420px;

}

.img_box img{

width: 100%;
height: 100%;
object-fit: contain;
}

.content{
display: inline-block;
background-color: gray;
width: 100%;
height: 100%;

}

.title_box{
width: 100%;
height: 20%;
text-align: right;

}

.text_box{
width: 100%;
height: 80%;

}

.news_page{
font-size: 120%;
    margin: 0;
    background-color: LightSteelBlue;
    padding-bottom: 10px;
}

.news_page h1{
text-align: right;
margin: 20px 30px;
}
.news_page p{
text-align: justify;
text-indent: 80px;
margin: 10px 30px;

}
.news_page .date{
text-align: right;
}

.comment_box {
font-size: 120%;
margin: 20px;
padding: 5px 0 5px 0;
background-color: LightSteelBlue;
}

.comment_box .user_name {
margin: 0 30px ;
text-align: right;
}

.comment_box p{
text-align: justify;
text-indent: 30px;
padding: 0 30px;

}