body {
    margin: 0;
    background-color: Gainsboro;
}

.logo {
    margin: -70px -30px;
    position: absolute;
    font-size: 1500%;
    color: grey;
    z-index: -1;
}

header{
    margin: 0 10%;
    min-width: 150px;
    background-color: LightSteelBlue;
}

.menu {
    margin: 0;
    display:flex;
    list-style:none;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu_item {
    min-width: 150px;
    margin: -1px 1px;
    padding: 10px;
    position:relative;
    text-align: center;
    font-size: 150%;
}

.menu_item:hover {
    background-color: Lavender;
}

main {
    margin: 30px 15%;
}

.clear_a{
    text-decoration: none;
    color: inherit;
}

.news_box {
display: flex;
margin: 30px;
height: 225px;
background-color: LightSteelBlue;

}

.img_box{
height: 100%;
width: 420px;

}

.content{
display: inline-block;
background-color: gray;
width: 100%;
height: 100%;

}

.title_box{
width: 100%;
height: 20%;
text-align: right;

}

.text_box{
width: 100%;
height: 80%;

}

.news_page{
    margin: 0;
    background-color: LightSteelBlue;
}

.news_page h1{
text-align: right;
margin: 10px;
}
.news_page p{
text-indent: 80px;
margin: 10px;
}
.news_page .date{
text-align: right;
margin: 10px;
}