{% extends 'main/layout.html' %}

{% block title%}
    {{ article.title }}
{% endblock %}

{% block logo %}
    Reed
{% endblock %}

{% block body %}
    <div class="news_page">
        <h1> {{ article.title }} </h1>
        <p> {{ article.news_text }} </p>
        <p class="date"> {{ article.date}} </p>

    </div>
<div class="comments">
    {% if comments %}
        {% for el in comments %}
            {% include "news/comment_box.html" %}
            {% endfor %}
    {% endif %}
</div>
{% if request.user.is_authenticated %}
<form action="{{ article.get_absolute_url }}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Отправить">
</form>
{% else %}
<p>Войдите что бы писать комментарии</p>
{%  endif %}
{% endblock %}